<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NymoBil - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.12.1/datatables.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css" integrity="sha512-ELV+xyi8IhEApPS/pSj66+Jiw+sOT1Mqkzlh8ExXihe4zfqbWkxPRi8wptXIO9g73FSlhmquFlUOuMSoXz5IRw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
    <link rel="stylesheet" type="text/css" href="~/DekkHotell.styles.css" />
    @* asp-append-version="true" *@
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light">
            <!--bg-light-->
            <div class="container-fluid">
                @* <button type="button" class="btn btn-primary">Primary</button> *@
                <a class="navbar-brand" href="/">NymoBil</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 list-group">
                        <li class="nav-item list-group-item @(ViewData["Title"].ToString() == "DekkHotell" ? "active" : "")">
                            <a class="nav-link" aria-current="page" href="/">DekkHotell</a>
                        </li>
                        @*<li class="nav-item">
                            <a class="nav-link @(ViewData["Title"].ToString() == "BlaBok" ? "active" : "")" aria-current="page" href="/blåbok">BlåBok</a>
                        </li>*@
                        <li class="nav-item dropdown list-group-item @(ViewData["Title"].ToString() == "BlaBok Nybil" || ViewData["Title"].ToString() == "BlaBok Bruktbil" ? "active" : "")">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                BlåBok
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li class="nav-item list-group-item dropdown-item @(ViewData["Title"].ToString() == "BlaBok Nybil" ? "active" : "not-active")"><a class="nav-link" aria-current="page" href="/blåbok">Nybil</a></li>
                                <li class="nav-item list-group-item dropdown-item @(ViewData["Title"].ToString() == "BlaBok Bruktbil" ? "active" : "not-active")"><a class="nav-link" aria-current="page" href="/blåbokBrukt">Bruktbil</a></li>
                            </ul>
                        </li>
                        <li class="nav-item list-group-item @(ViewData["Title"].ToString() == "Sikkerhetsblad" ? "active" : "")">
                            <a class="nav-link" aria-current="page" href="/sikkerhetsblad">Sikkerhetsblad</a>
                        </li>
                        <li class="nav-item list-group-item @(ViewData["Title"].ToString() == "Excel" ? "active" : "")">
                            <a class="nav-link" aria-current="page" href="/excel">Excel</a>
                        </li>
                        @*<li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Dropdown
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                        </li>*@
                    </ul>
                    @*<form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>*@
                    
                    <script type="text/javascript">
                        @*Init session alive*@
                        var sessionToBeRemoved = false;
                    </script>
                    @if (@Model.Authorization != null && @Model.Authorization.Username != null) {
                        <form id="login_form" class="d-flex">
                            <label class="logged-user-name-label"><i class="bi bi-person"></i> @Model.Authorization.Username</label>
                            <button class="btn btn-primary logged-user-name-btn" type="button" id="edit_user_btn" title="Endre bruker"><i class="bi bi-pencil-fill"></i></button>
                            <button class="btn btn-danger logged-user-name-btn" type="button" id="logout_btn" title="Logg ut"><i class="bi bi-box-arrow-right"></i></button>
                        </form>
                    } else {
                        <script type="text/javascript">
                            @*Fallback incase session is dead on server, but not yet updated on client*@
                            sessionToBeRemoved = true;
                        </script>
                        <form id="login_form" class="d-flex">
                            <input class="form-control me-2" type="text" id="login_username" name="login_username" placeholder="Brukernavn" aria-label="Brukernavn" title="Brukernavn">
                            <input class="form-control me-2" type="password" id="login_password" name="login_password" placeholder="Passord" aria-label="Passord" title="Passord">
                            <button class="btn btn-outline-success" type="button" id="login_btn" title="Logg inn"><i class="bi bi-key"></i></button>
                        </form>
                    }

                    @*<div class="d-flex">
                        <div class="form-check form-switch ms-4 mt-1 me-1">
                            <label class="form-check-label ms-1" for="lightSwitch">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     width="20"
                                     height="20"
                                     fill="currentColor"
                                     class="bi bi-brightness-high"
                                     viewBox="0 0 16 16">
                                    <path d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z" />
                                </svg>
                            </label>
                            <input class="form-check-input" type="checkbox" id="lightSwitch" />
                        </div>
                    </div>*@
                </div>
            </div>
        </nav>
        
        @*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">DekkHotell</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!--<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>-->
            </div>
        </nav>*@
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()

            <!-- MAIN MODAL -->
            <div id="my_main_modal" class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 id="modal_main_title" class="modal-title">
                                <!-- TITLE -->
                            </h5>
                        </div>
                        <div id="modal_main_content" class="modal-body">
                            <!-- CONTENT -->
                        </div>
                        <div id="modal_main_footer" class="modal-footer">
                            <!-- ACTION BUTTONS -->
                        </div>
                    </div>
                </div>
            </div>

        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - DekkHotell - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    @*<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/js/bootstrap.min.js" integrity="sha512-EKWWs1ZcA2ZY9lbLISPz8aGR2+L7JVYqBAYTq5AXgBkSjRSuQEGqWx8R1zAX16KdXPaCjOCaKE8MCpU0wcHlHA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    @*<script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.12.1/datatables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js" integrity="sha512-57oZ/vW8ANMjR/KQ6Be9v/+/h6bq9/l3f0Oc7vn6qMqyhvPd1cvKBRWWpzu0QoneImqr2SkmO4MSqU+RpHom3Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="~/js/cookies.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript">
        // Fallback incase session is dead on server, but not yet updated on client
        if (sessionToBeRemoved) { removeAuthCookie(); }
    </script>
    <script type="text/javascript" src="~/js/switch.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>